body {
  font-family: Arial, sans-serif;
  background-color: #ece79f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

#calculator {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #f58f8f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #ddd;
}

#result {
  font-size: 48px;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  text-align: right;
}

